<!DOCTYPE html>
<html>
    <head>
        <title>About Us - MPL</title>
        <meta charset="utf-8">
        <link type="text/css" rel="stylesheet" href="style.css">
        <script src="script.js"></script>
    </head>

    <body>
            <header>
                <div id="header_content">
                        <div id="title">
                            <h1><a href="/">Medilan Public Library District</a></h1>
                        </div>
                        <div id="sublinks">
                            <a href="/about">Learn about the Library</a>
                            <a href="/calendar">Calendar of Events</a>
                            <a href="/library_cards">Get a Library Card</a>
                            <a href="/checkouts">View your Checked Out Books</a>
                        </div>
                </div>
            </header>

        <div id="filler_content">
            <p>Medil is a fictional island region, most commonly known for having abundant natural resources and being invaded and occupied. For those natural resources. I have coopted Medil for a different purpose: to host a library system!
                This website offers a simple interface to search, browse, check out, and return books. As well as, of course, allowing you to sign up for your very own library card! (Card is not real. Only its number is.)<br><br>
                The links at the top navigate you to the relevant pages, and you can always click the title to return to the homepage. Be warned: we expect our patrons to have a head on their shoulders, so forgetting your card details is
                a big no-no. And we aren't going to babysit you through your mistakes either. If you typed in your details wrong, we just won't accept them. Try again. Accidentally sign up for five library card numbers with five incorrect email addresses?
                That one is actually our fault... we handle it through periodic weeding of inactive cards. But that's good reason to keep using your actual card, so that we don't remove it for being inactive! (Note: librarians do weeding by hand, on the command
                line, as is intended. Thus, the frequency of weeding is subject to boredom.)<br><br>
                We've got an eclectic selection of tomes to browse. Why don't you check some out?
            </p>
        </div>

        <footer>
            <p>Developed by Liam O'Brien | Many cover images courtesy of <a href='https://openlibrary.org/'>Open Library</a>. Blame them if they flicker and don't load.</p>
        </footer>

    </body>
</html>