<!DOCTYPE html>
<html>
    <head>
        <title>Calendar - MPL</title>
        <meta charset="utf-8">
        <link type="text/css" rel="stylesheet" href="style.css">
        <script src="script.js"></script>
    </head>

    <body>
        <header>
            <div id="header_content">
                    <div id="title">
                        <h1><a href="/">Medilan Public Library District</a></h1>
                    </div>
                    <div id="sublinks">
                        <a href="/about">Learn about the Library</a>
                        <a href="/calendar">Calendar of Events</a>
                        <a href="/library_cards">Get a Library Card</a>
                        <a href="/checkouts">View your Checked Out Books</a>
                    </div>
            </div>
        </header>

        <!-- This ended up being a ridiculously simple page just to fill out a bit of authenticity for the website.
         It's a table. It's just a table.-->
        <div id="filler_content">
            <h2>Calendar of Events - January 2025</h2>
            <table id="calendar">
                <tr>
                    <th>Sunday</th>
                    <th>Monday</th>
                    <th>Tuesday</th>
                    <th>Wednesday</th>
                    <th>Thursday</th>
                    <th>Friday</th>
                    <th>Saturday</th>
                </tr>
                <tr>
                    <td>29</td>
                    <td>30</td>
                    <td>31</td>
                    <td>1 Closed for New Years Day</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>6 Shortened Seasonal Hours End</td>
                    <td>7</td>
                    <td>8</td>
                    <td>9</td>
                    <td>10</td>
                    <td>11</td>
                </tr>
                <tr>
                    <td>12</td>
                    <td>13</td>
                    <td>14</td>
                    <td>15</td>
                    <td>16</td>
                    <td>17</td>
                    <td>18</td>
                </tr>
                <tr>
                    <td>19</td>
                    <td>20 Closed for MLK Day</td>
                    <td>21</td>
                    <td>22</td>
                    <td>23</td>
                    <td>24</td>
                    <td>25</td>
                </tr>
                <tr>
                    <td>26</td>
                    <td>37</td>
                    <td>28</td>
                    <td>29</td>
                    <td>30</td>
                    <td>31</td>
                    <td>1</td>
                </tr>
            </table>
        </div>

        <footer>
            <p>Developed by Liam O'Brien | Many cover images courtesy of <a href='https://openlibrary.org/'>Open Library</a>. Blame them if they flicker and don't load.</p>
        </footer>

    </body>
</html>